/*url(Button.css)*/

.btn {
  font-family: var(--font-body);
  font-weight: 500;
  font-size: 1rem;
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out !important;
}

/* BOTON PRIMARIO: Color base y Hover */
.btn-primary,
button.btn-primary,
a.btn-primary {
  background-color: #fa6d8c !important; /* Oscurecimiento visible */

  color: #ffffff !important;
}

.btn-primary:hover,
button.btn-primary:hover,
a.btn-primary:hover {
  background-color: #f7315c !important; /* Oscurecimiento visible */
}

/* BOTON SECUNDARIO: Color base y Hover */
.btn-secondary,
button.btn-secondary,
a.btn-secondary {
  background-color: #fa7a32 !important;
  color: #ffffff !important;
}

.btn-secondary:hover,
button.btn-secondary:hover,
a.btn-secondary:hover {
  background-color: #e3621d !important; /* Oscurecimiento visible */
}

/* BOTON OUTLINE */
.btn-outline {
  background-color: transparent !important;
  color: #f42a55 !important;
  border: 2px solid #f42a55 !important;
}

.btn-outline:hover {
  background-color: #f42a55 !important;
  color: #ffffff !important;
}